<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>KBS 経費管理</title>

{% include 'base/css.html' %}

</head>
<body>
      <h2>KBS 経費管理ツール</h2>
      <p>条件を指定してください</p>
      <p>検索条件：</p>
    <div>
      {% block content %}
      {% endblock content %}
    </div>

    <div>
      {% block chart %}
      {% endblock %}
    </div>

    {% include 'base/js.html' %}
    <script>
    $(function() {
      $("#id_start_date").datepicker({ dateFormat: 'yy-mm-dd' });
    });
    $(function() {
      $("#id_end_date").datepicker({ dateFormat: 'yy-mm-dd' });
    });
    </script>

    <script>
    $(document).ready(function(){
    {% block jquery %}{% endblock %}
    })
    </script>

  </body>
</html>
