{% extends 'base.html' %}

{% block content %}
  <table>
    <form actiom="{% url 'index' %}" method="post">
      {% csrf_token %}
      {{ form.as_table }}
      <tr><th></th><td><input type="submit" value="開始"></td></tr>
    </form>
  </table>　
  <hr><!--水平線 -->
  <table>
    <tr>
      <th>ID</th>
      <th>年月</th>
      <th>店舗名</th>
      <th>分類</th>
      <th>金額</th>
    </tr>
    {% for item in data  %}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.account_date}}</td>
      <td>{{item.shop}}</td>
      <td>{{item.category}}</td>
      <td>{{item.account}}</td>
    </tr>
    {% endfor %}
  </table>
<hr><!--水平線 -->
{% endblock content %}



<script>
{% block  jquery %}

var endpoint = 'api/'

$.ajax({
  method: "GET",
  url: endpoint,
  success: function(data){
    console.log(data.sales)
    console.log(data.customers)
  },
  error: function(error_data){
    console.log("error")
    console.log(error_data)
  }
})

{% endblock %}
</script>

{% block chart %}
  <h1>Hello chart</h1>
{% endblock %}





