{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<p>条件を指定してください</p>
<p>検索条件：</p>

<!--入力フォーム-->
<form actiom="{% url 'index' %}" method="post">{% csrf_token %}
<table class="table">
 {{ form.as_table}}
</table>
  <tr><th></th><td><input class="btn btn-primary" type="submit" value="開始"></td></tr>
</form>

<hr><!--水平線-->
<p><a href="{% url 'upload' %}">CSVアップロードページへ移動</a></p>

{% include 'base/js.html' %}
<script>
$(function() {
  $.datepicker.setDefaults( $.datepicker.regional[ "ja" ] );
  $("#id_start_date").datepicker({
    dateFormat: 'yy-mm-dd',
    // 2017-10-1以降を選択可能
    minDate: new Date(2017, 10 - 1, 1),
    // 2018-12-31まで選択可能
    maxDate: new Date(2018, 12 - 1, 31),
    });
});
$(function() {
  $.datepicker.setDefaults( $.datepicker.regional[ "ja" ] );
  $("#id_end_date").datepicker({
    dateFormat: 'yy-mm-dd',
    // 2017-10-1以降を選択可能
    minDate: new Date(2017, 10 - 1, 1),
    // 2018-12-31まで選択可能
    maxDate: new Date(2018, 12 - 1, 31),
    });
});
</script>


{% endblock %}